<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Jezt Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{%static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{%static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{%static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{%static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Timepicker Addon CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->


</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href=""><img src="{% static 'images/JeztLargem.png' %}" class="mr-2" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href=""><img src="{% static 'images/Jeztminim.png' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
            
              Jezt Technologies
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
      
        </ul>
       
      
        <a class="btn btn-danger" style="margin-right: 10px;"  href="">Logout</a>
        
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
   
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'index' %}">
                  <i class="icon-grid menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled1" class="nav-link" href="{%url 'search_persons_by_date'%}">
                  <i class="icon-camera menu-icon"></i>
                  <span class="menu-title">Attendance</span>
                </a>
      
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'search_employee' %}">
                  <i class="icon-layers menu-icon"></i>
                  <span class="menu-title">Search</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'camera-list' %}">
                  <i class="ti-search menu-icon"></i>
                  <span class="menu-title">Traffic</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'search_camera_details' %}">
                  <i class="ti-stats-down menu-icon"></i>
                  <span class="menu-title">Track</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'search_persons_by_time' %}">
                  <i class="ti-power-off menu-icon"></i>
                  <span class="menu-title">Time</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="">
                  <i class="ti-car menu-icon"></i>
                  <span class="menu-title">Vehicle</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="">
                  <i class="ti-camera menu-icon"></i>
                  <span class="menu-title">Custom</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'register' %}">
                  <i class="ti-unlock menu-icon"></i>
                  <span class="menu-title">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a  class="nav-link disabled1" class="nav-link" href="{%url 'login' %}">
                  <i class="ti-user menu-icon"></i>
                  <span class="menu-title">Login</span>
                </a>
              </li>
         
         
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel" style="text-align: center;">
        <div class="content-wrapper" >
            
         
      
        <!-- content-wrapper ends -->
        {% block content %}
        
   
        {% endblock %}
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023.  Premium <a href="" target="_blank">Jezt admin template</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Crafted by <a href="" target="_blank">Jezt Devos</a></span>
            </div>
            </div>
          </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{%static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{%static 'vendors/chart.js/Chart.min.js' %}"></script>
  <!-- <script src="{%static 'vendors/datatables.net/jquery.dataTables.js' %}"></script> -->
  <script src="{%static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{%static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{%static 'js/off-canvas.js' %}"></script>
  <script src="{%static 'js/hoverable-collapse.js' %}"></script>
  <script src="{%static 'js/template.js' %}"></script>
  <script src="{%static 'js/settings.js' %}"></script>
  
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{%static 'js/dashboard.js' %}"></script>
  <script src="{%static 'js/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
  <!-- jQuery UI JS -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- Timepicker Addon JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    console.log("Document is ready");
    $("#notFoundModal").modal('show');
  });
</script>



  <script>
      $(document).ready(function() {
          // Initialize Datepicker
          $("#search_date").datepicker({
              dateFormat: 'yy-mm-dd'
          });
  
          // Initialize Timepicker
          $("#start_time, #end_time").timepicker({
              timeFormat: 'HH:mm:ss',
              controlType: 'select',
              oneLine: true
          });
  
          // Prevent manual input in date and time fields
          $("#search_date, #start_time, #end_time").on('keydown', function(e) {
              e.preventDefault();
          });
      });
  </script>
</body>

</html>

